/*Обнуление*/
*{	padding: 0;	margin: 0;	border: 0;}*,*:before,*:after{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;}:focus,:active{outline: none;}a:focus,a:active{outline: none;}nav,footer,header,aside{display: block;}html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}input,button,textarea{font-family:inherit;}input::-ms-clear{display: none;}button{cursor: pointer;}button::-moz-focus-inner {padding:0;border:0;}a, a:visited{text-decoration: none;}a:hover{text-decoration: none;}ul li{list-style: none;}img{vertical-align: top;}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color:#533738;
   letter-spacing: 0em;
}

.container {
   box-sizing: border-box;
   max-width: 1036px;
   margin: 0 auto;
}

.container-wide {
   box-sizing: border-box;
   max-width: 1200px;
   margin: 0 auto;
}

.header{
   background: url('img/hero.jpg') no-repeat;
	padding-top: 36px;
	padding-bottom: 168px;
	background-size: cover;
}

/*Блок меню*/
.nav {
   display: flex;
   justify-content: space-between;   
   align-items: center;
}
.nav a {
   color:inherit;
   font-size: 16px;
}

.logo__link {
   display: flex; 
   align-items: center; 
}
.logo__image {
  display: block;
}
.logo__name {
   text-transform: uppercase;
}
.menu a:hover {
   color:#CC8B86;
}
.menu__item {
   display: inline-block;
   margin-right: 26px;
}
.menu__item:last-child{
   margin-right: 0;
}


/*Блок Hero*/
.hero {
   width: 493px;
   
   margin-top: 91px;
}
.title {
   font-size: 50px;
   line-height: 62px;
   letter-spacing: 0em;
   text-align: left;
}
.title__lead {
   font-size: 18px;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
   margin-top: 24px;
   width:90%;
}
.hero__button {   
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left;
   padding: 25px 67px;
   background-color: #CC8B86;
   margin-top: 21px;
   color:inherit;
   display: inline-block;
   transition:all 0.3s ease-in;
}
.hero__button:hover{
   border-radius: 30px;
}

.main {
}
.about {
   background-color: #EFE6E4;
   padding-top: 65px;
   padding-bottom: 21px;
}


.about__title { 
   text-transform: uppercase;  
   font-size: 40px;
   line-height: 50px;
   letter-spacing: 0em;
   text-align: center;
   
}
.about__content {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   gap: 63px;
}

.about__text {   
   font-size: 18px;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
}
.about__text p:not(:last-child) {
   margin-bottom: 36px;
} 

.progress {
   background-color: #8D7370;
   padding-top: 85px;
   padding-bottom: 81px;
}

.progress-definitions {
   display: flex;
   justify-content: space-between;
}
.progress-definitions__item {
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0em;
}
.progress-definitions__item dd{
   font-size: 50px;
   font-weight: 400;
   line-height: 62px;   
}
.progress-definitions__item dt{
   font-size: 30px;
   font-weight: 500;
   line-height: 37px;   
}


.works {
   background-color: #EFE6E4;
   padding: 65px 0;
}

.works__title {
   text-transform: uppercase;
   font-size: 40px;
   line-height: 50px;
   text-align: left;
}
.works-list {
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   gap:30px 20px;
}
.works-list__item {
   position: relative;
}

.works-list__item:hover>.description{
   visibility: visible;
}

.description {
   padding:86px 35px 152px 35px;
   background-color: rgba(100,72,69,0.8);
   width:100%;
   height:100%;
   position: absolute;
   top: 0;
   left: 0;
   color:#fff;  
   visibility: hidden;
}


.description__title {   
   font-size: 30px;
   font-weight: 500;
   line-height: 37px;
   margin:0 74px;
   text-align: center;
}
.description__text {
   margin-top: 40px;
   font-size: 18px;
   line-height: 30px;
   text-align: left;
}

.next{
   text-align: center;
}

.next a{
   margin-top: 40px;   
   font-size: 30px;
   font-weight: 500;
   line-height: 37px;
   color:inherit;
   display: block;
   transition:all 0.3s ease-in;
}

.next a:hover{
   transform: scale(1.1);
}